<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 상세 페이지</title>
</head>
<style>
    *{
        list-style: none;
    }
    .key {
        fontsize: 2rem;
        text-align: center;
        color: white;
        background-color: #000000;
        border-radius: 1rem;
        padding: 2rem;
    }
    .pressed {
        background: #053821;
        transition: background-color;
    }
</style>
<script>
    function checkSelectAll()  {
        // 전체 체크박스
        const checkboxes
            = document.querySelectorAll('input[name="test"]');
        // 선택된 체크박스
        const checked
            = document.querySelectorAll('input[name="test"]:checked');
        // select all 체크박스
        const selectAll
            = document.querySelector('input[name="selectall"]');

        if(checkboxes.length === checked.length)  {
            selectAll.checked = true;
        }else {
            selectAll.checked = false;
        }

    }

    function selectAll(selectAll)  {
        const checkboxes
            = document.getElementsByName('test');

        checkboxes.forEach((checkbox) => {
            checkbox.checked = selectAll.checked
        })
    }

    var inputText=function(){
        var a=document.querySelector("#Enter").value;
        document.querySelector("#print").innerText=a;
        document.querySelector("#Enter").value="";
        document.querySelector("#Enter").focus();
    };
    window.addEventListener("keydown", e => {
        const key = document.getElementById(e.key);
        if (key) key.classList.add('pressed');
    });


    window.addEventListener("keyup", e => {
        const key = document.getElementById(e.key);
        if (key) key.classList.remove('pressed');
    });

    function printName() {
        const name = document.getElementById('name').value;
        document.getElementById("result").innerText = name;
    }

    function Drop() {
        document.getElementById("result").innerText="";
    }



</script>
<body>

<h1 th:text="${board.title}">제목입니다.</h1>
<p th:text="${board.content}">내용이 들어갈 부분입니다.</p>
<!--<a th:href="@{/board/delete(id=${board.id})}">글삭제</a>-->
<a th:href="@{/board/modify/{id}(id = ${board.id})}">수정</a>

<input type="checkbox" name="selectall" onclick="selectAll(this)"><b>전체 선택</b>
<input type="checkbox" name="test" onclick='checkSelectAll()'> 이
<input type="checkbox" name="test" onclick='checkSelectAll()'> 상
<input type="checkbox" name="test" onclick='checkSelectAll()'> 현
<input type="checkbox" name="test" onclick='checkSelectAll()'> 임

<input type="text" id="Enter" placeholder="글 입력"/>
<button onclick="inputText();">입력</button>
<p id="print"></p>
<div class="key" id="1">1</div>
<div class="key" id="2">2</div>
<div class="key" id="3">3</div>

<input id="name"/>
<div id="result"></div>
<button onclick="printName()"> + </button>
<button onclick="Drop()"> - </button>
</body>
</html>